.introduccion{
  margin-top: 2rem;
}

.listado-menu{
  margin-top: 2rem;
}

.ricomida{
  font-family: 'Lobster', cursive;
}

.piericomida{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1{
  text-transform: uppercase;
}

.tarjeta{
  margin-top: 1rem;
}
.cabecerarecetas{
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.recetas-rel{
  margin-bottom: 3rem;
}

.empezar{
  margin-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

h5{
  text-transform: uppercase;
}

hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carrusel{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.suscripcion{
  color: white;
  padding-top:7rem;
  padding-bottom:10rem;
}
